<footer>
    <div class="section-9">
      <div class="container">
        <div class="contac">
          <p><i class="fas fa-phone"></i>936 81 9737</p>
          <p><i class="fas fa-map-marker-alt"></i>documentacion@inortia.com</p>
          <p>
            <i class="fas fa-envelope"></i>Local 3, Av. de Francesc Macià,
            17,<br />
            <span>08840 Viladecans, Barcelona</span>
          </p>
        </div>
        <div class="sobre-nosotros">
          <h3>Inortia</h3>
          <a href="#">Hipotecas</a>
          <a href="#">Sobre nosotros</a>
          <a href="#">Estudio económico</a>
          <a href="#">Aviso legal</a>
          <a href="#">Contacto</a>
        </div>
        <div class="informacion">
          <h3>Infomación legal</h3>
          <a href="#">Infomación y tarifas</a>
          <a href="#">Nota de encargo</a>
          <a href="#">Certificación AECOSAN</a>
          <a href="#">Certificación API</a>
          <a href="#">Certificacion RGPD</a>
        </div>
        <div class="informacion-legal">
          <h3>Infomación legal</h3>
          <a href="#">Área de cliente</a>
          <a href="#">API</a>
          <a href="#">Agencia española de protección de datos</a>
          <a href="#">Conversia HFL group</a>
          <a href="#">Certificacion RGPD</a>
        </div>
      </div>
    </div>
    <div class="section-10">
      <div class="container">
        <div class="redes">
          <div class="facebook-fo">
            <i class="fab fa-facebook"></i>
          </div>
          <div class="twitter-fo">
            <i class="fab fa-twitter"></i>
          </div>
          <div class="instagram-fo">
            <i class="fab fa-instagram"></i>
          </div>
        </div>
        <div class="derechos">
          <p>Copyright © 2020 Inortia. Todos los derechos reservados.</p>
        </div>
      </div>
    </div>
  </footer>
