<div class="bg-sobre">
  <div class="menu-sobre">
    <h2>Sobre nosotros</h2>
    <div class="links">
    <a href="">inicio</a>
    <p> > </p>
    <a href="">Hipotecas</a>
    </div>
  </div>
</div>
<section class="section-11">
  <div class="container">
    <div class="img">
    <img src="../../../assets/img/Design team-amico 1.png" alt="Ilustracion de trabajp">
    </div>
    <div class="sobre-inortia">
      <div class="icon">
      <img src="../../../assets/img/icons/icon-people.png" 
      alt="inorita user">
      </div>
      <div class="contenido">
        <h3>Sobre inortia</h3>
        <p>Somos una empresa con una dilatada trayectoria en el sector de intermediación.</p>
        <br>
        <p>Te ofrecemos un asesoramiento gratuito y sin compromiso informándote de la viabilidad de la operación en 72 horas. Porque tan importante es la elección de TU CASA como estar seguro de que consigues la mejor hipoteca del mercado, damos un asesoramiento completamente personalizado ya que cada cliente es diferente y único para nosotros.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="section-2 section-4 sobre">
  <div class="container">
    <div class="intermediacion">
      <div class="icon">
        <img
          src="../../../assets/img/icons/mdi_office-building-cog-outline.png"
          alt=""
        />
      </div>
      <div class="contenido">
        <h2>
          Nuestras oficinas en<br />
          Barcelona
        </h2>
        <p>Acércate y cuéntanos tu caso</p>
        <button>VER EN GOOGLE MAPS</button>
      </div>
    </div>
    <div class="reproductor-video localizacion">
      <img src="../assets/img/Photo-6.png" class="icon-office" alt="Photo" />
      <div class="content">
        <button class="play"><i class="fas fa-map-marker-alt"></i></button>
        <div class="reproduciendo">
          <p class="text-maps">
            Local 3, Av. de Francesc Macià<br />
            17, 08840 Viladecans, Barcelona
          </p>
        </div>
      </div>
      <img
        class="estadisticas map"
        src="../../../assets/img/Map.png"
        alt="map"
      />
    </div>
  </div>
</section>
<app-footer></app-footer>
