<div class="bg-solicitud">
    <h2>Solicite su hipoteca</h2>
    <div class="menu-solicitud">
      <a href="">inicio</a>
      <p>></p>
      <a href="">Solicite su hipotecas</a>
    </div>
</div>
<div class="contenedor-solicitud">
<div class="link-calculadora">
    <div class="calcular-hipoteca">
        <div class="top">
            <img src="../../../assets/img/icons/calculadora.png" alt="">
            <div class="cont">
                <h3>Calcula tu hipoteca</h3>
                <p>con inortia</p>
            </div>
        </div>
        <p class="parrafo">Calcula tu hipoteca con la ayuda de un gestor personal</p>
        <button>Cacular hipoteca</button>
    </div>
</div>
<div class="formulario">
    <h3><span>Hipotecas</span> hasta el <span>100%</span> las mejores <br> condiciones</h3>
    <form action="formulario" class="form">
        <h4>Tu nombre</h4>
        <input type="text" placeholder="Ej Adrian Garcia">
        <h4>Tu telefóno</h4>
        <input type="text" placeholder="0000 000 0 00 00">
        <h4>Tu Correo</h4>
        <input type="text" placeholder="inortia@example.com">
        <div class="form-2">
            <div>
                <h4>Coste de vivienda</h4>
                <input type="text" placeholder="40000">
            </div>
            <div>
                <h4>Capital aportado</h4>
                <input type="text" placeholder="4000">
            </div>
        </div>
        <div class="check">
        <input type="checkbox" class="cheke">
        <p>Acepto los términos y condiciones del régimen de protección de datos personales y cookies</p>
        </div>
        <button>Te llamamos sin compromiso</button>
    </form>
</div>
</div>
<app-footer></app-footer>

