<div class="bg-solicitud">
    <h2>Solicite su hipoteca</h2>
    <div class="menu-solicitud">
      <a href="">inicio</a>
      <p>></p>
      <a href="">Solicite su hipotecas</a>
    </div>
</div>
<div class="link-calculadora">
    <div class="calcular-hipoteca">
        <div class="top">
            <img src="../../../assets/img/icons/calculadora.png" alt="">
            <div class="cont">
                <h3>Calcula tu hipoteca</h3>
                <p>con inortia</p>
            </div>
        </div>
        <p>Calcula tu hipoteca con la ayuda de un gestor personal</p>
        <button>Cacular hipoteca</button>
    </div>
</div>
<div class="formulario">

</div>
<app-footer></app-footer>

