<div class="bg-hipotecas">
  <h2>Hipotecas</h2>
  <div class="menu-hipotecas">
    <a href="">inicio</a>
    <p>></p>
    <a href="">Hipotecas</a>
  </div>
</div>
<div class="container">
  <div class="resultados">
    <p>Todos los resultados</p>
  </div>
  <div class="container-cards">
  <div class="contenedor-cards">
    <div class="card-h">
      <img src="../../assets/img/store-1.png" alt="Hipoteca" />
      <div class="content">
        <h3>HIPOTECA FIJA 1,20%</h3>
        <p>Si tienes ingresos superiores a 3.000€ <br> esta es tu hipoteca.</p>
        <button>Me intereza</button>
      </div>
    </div>
  </div>
  <div class="contenedor-cards">
    <div class="card-h">
      <img src="../../assets/img/store-2.png" alt="Hipoteca"/>
      <div class="content">
        <h3>HIPOTECA 100%</h3>
        <p>El mayor porcentaje de financiación <br> y con las mejores..</p>
        <button>Me intereza</button>
      </div>
    </div>
  </div>
  <div class="contenedor-cards">
    <div class="card-h">
      <img src="../../assets/img/store-3.png" alt="Hipoteca" />
      <div class="content">
        <h3>HIPOTECA FUNCIONARIOS</h3>
        <p>Si eres funcionario, tus condiciones son preferentes. 100%</p>
        <button>Me intereza</button>
      </div>
    </div>
  </div>  <div class="contenedor-cards">
    <div class="card-h">
      <img src="../../assets/img/store-4.png" alt="Hipoteca" />
      <div class="content">
        <h3>HIPOTECA TIPO FIJO</h3>
        <p>Tendrás tu hipoteca bajo control con una cuota fija. Sin sorpresas...</p>
        <button>Me intereza</button>
      </div>
    </div>
  </div>  <div class="contenedor-cards">
    <div class="card-h">
      <img src="../../assets/img/store-5.png" alt="Hipoteca" />
      <div class="content">
        <h3>HIPOTECA PREMIER</h3>
        <p>Desde Euribor + 0.65%. Sin <br> competencia..</p>
        <button>Me intereza</button>
      </div>
    </div>
  </div>  <div class="contenedor-cards">
    <div class="card-h">
      <img src="../../assets/img/store-6.png" alt="Hipoteca" />
      <div class="content">
        <h3>HIPOTECA MIXTA</h3>
        <p>La tranquilidad de una hipoteca fija los primeros años y las ventajas</p>
        <button>Me intereza</button>
      </div>
    </div>
  </div>  <div class="contenedor-cards">
    <div class="card-h">
      <img src="../../assets/img/store-7.png" alt="Hipoteca" />
      <div class="content">
        <h3>HIPOTECA AUTOPROMOCIÓN</h3>
        <p>La mejor hipoteca para construir la <br> casa de tus sueños.</p>
        <button>Me intereza</button>
      </div>
    </div>
  </div>  <div class="contenedor-cards">
    <div class="card-h">
      <img src="../../assets/img/store-8.png" alt="Hipoteca" />
      <div class="content">
        <h3>HIPOTECA CAMBIO DE BANCO</h3>
        <p>Baja el tipo de interés de tu hipoteca y paga menos….</p>
        <button>Me intereza</button>
      </div>
    </div>
  </div>  <div class="contenedor-cards">
    <div class="card-h">
      <img src="../../assets/img/store-9.png" alt="Hipoteca" />
      <div class="content">
        <h3>HIPOTECA SEGUNDA VIVIENDA</h3>
        <p>Para tu casa de la playa o de la <br> montaña, de fin de semana</p>
        <button>Me intereza</button>
      </div>
    </div>
  </div> 
   <div class="contenedor-cards">
    <div class="card-h">
      <img src="../../assets/img/store-10.png" alt="Hipoteca" />
      <div class="content">
        <h3>HIPOTECA NO RESIDENTES</h3>
        <p>Para los que no viven en España pero <br> quieren comprar aquí</p>
        <button>Me intereza</button>
      </div>
    </div>
  </div>  
  <div class="contenedor-cards">
    <div class="card-h">
      <img src="../../assets/img/store-11.png" alt="Hipoteca" />
      <div class="content">
        <h3>HIPOTECA JOVEN</h3>
        <p>Para los más jóvenes, la financiación adaptada a tus necesidades.</p>
        <button>Me intereza</button>
      </div>
    </div>
   </div> 
  </div>
  <div class="selec-numerico">
      <a class="selec">1</a>
      <a>2</a>
      <a>3</a>
      <a>4</a>
      <a>....</a>
      <a class="selec"> >> </a>
  </div>
</div>
<app-footer></app-footer>
