<div class="wrapper">
    <!--MENU-->
    <header class="bg-menu">
      <nav class="navbar navbar-expand-lg  container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <span><i class="fas fa-bars"></i></span>
        </button>
        <!-- Logo-principal -->
        <a class="navbar-brand logo ml">
          <img
          src="../assets/img/logo.png"
          title="Inortia"
              alt="logo-principal"
              height="50"
              class="d-inline-block aling-top"
            />
          </a>
        <!-- Opciones-del-menu -->
        <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
          <div class="menu navbar-nav d-flex m-auto">
            <a routerLink="/">Inicio</a>
            <a routerLink="hipotecas">Hipotecas</a>
            <a routerLink="preestudio">Preestudio</a>
            <a routerLink="solicite">Solicite su hipoteca</a>
            <a routerLink="sobreNostros">Sobre nosotros</a>
            <a routerLink="contacto">Contacto</a>
          </div>
          <button class="d-flex btn-primary btn-clientes">Area clientes</button>
        </div>
      </nav>
    </header>
