
<main>
  <section class="section-1 d-flex container">
    <div class="container">
      <h2>
        Asesoramiento<br />
        <span>Profesional</span>
        para que<br />
        Consigas tu casa
      </h2>
      <h3>Finaciación hasta el 100%</h3>
      <!---- Section-1 Redes-sociales ---->
      <div class="redes">
        <div class="facebook">
          <i class="fab fa-facebook"></i>
        </div>
        <div class="twitter">
          <i class="fab fa-twitter"></i>
        </div>
        <div class="instagram">
          <i class="fab fa-instagram"></i>
        </div>
      </div>
      <!---- Section-1 calculadora ---->
      <div class="calculadora row justify-content-center">
        <div class="input-calculadora">
          <p>Coste vivienda</p>
          <input type="text" />
        </div>
        <div class="input-calculadora">
          <p>Capital aportado</p>
          <input type="text" />
        </div>
        <div class="input-calculadora">
          <p>Interes</p>
          <input type="text" />
        </div>
        <div class="input-calculadora">
          <p>Años</p>
          <input type="text" />
        </div>
        <button>Calcular hipoteca</button>
      </div>
    </div>
  </section>
  <section class="section-2">
    <div class="container">
      <div class="row d-flex justify-content-between">
        <div class="intermediacion lg-col-6">
          <div class="icon">
            <img src="..//assets/img/icons/clarity_home-line.png" alt="" />
          </div>
          <div class="contenido">
            <h2>
              Intermediacian<br />
              financiera e hipotecaria
            </h2>
            <p>
              Te ofrecemos un asesoramiento gratuito y <br />
              sin compromiso informándote de la<br />
              viabilidad de la operación en 72 horas.
            </p>
            <button>Sobre nosotros</button>
          </div>
        </div>
        <div class="reproductor-video .lg-col-6">
          <img src="../assets/img/Photo 1.png" alt="Photo-1" />
          <div class="content">
            <button class="play"><i class="fas fa-play"></i></button>
            <div class="reproduciendo">
              <h3>Reproducir video</h3>
              <p>2:50</p>
            </div>
          </div>
          <img class="estadisticas" src="..//assets/img/financiacion.png" alt="Estadisticas" />
        </div>
      </div>
    </div>
  </section>
  <section class="section-3">
    <div class="container">
      <div class="bloque-1">
        <img src="..//assets/img/Photo 2.png" alt="Photo2" />
        <div class="contenido">
          <h2>Asesoramiento profesiona</h2>
          <p>
            Nuestro servicio se basa en tratar de manera <br />
            particular a cada cliente, entender sus necesidades y <br />
            acompañarle en el proceso
          </p>
        </div>
      </div>
      <div class="conten-2">
        <div class="bloque-2 d-flex">
          <div class="icon">
            <img src="..//assets/img/icons/uil_process.png" alt="" />
          </div>
          <div class="contenido">
            <h2>Estado del proceso <span class="beta">Beta</span></h2>
            <p>
              Te informamos en todo momento del<br />
              proceso de tu préstamo o hipoteca para<br />
              que no te tengas que preocupar<br />
              absolutamente de nada.
            </p>
          </div>
        </div>
        <div class="conten-3">
          <div class="bloque-3">
            <div class="icon">
              <img src="..//assets/img/icons/clarity_note-solid.png" alt="Note" />
            </div>
            <h3>Hasta el 100%</h3>
            <p>
              Somos expertos en casos <br />
              complejos y llegamos a <br />
              conseguir hasta el 100%
            </p>
          </div>
          <div class="bloque-4">
            <div class="icon">
              <img src="..//assets/img/icons/ci_home-check.png" alt="Check" />
            </div>
            <h3>Tipos de hipoteca</h3>
            <p>
              Ofrecemos diferentes tipos <br />
              de hipoteca adaptados a <br />
              cada cliente.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-2 section-4">
    <div class="container">
      <div class="intermediacion">
        <div class="icon">
          <img src="..//assets/img/icons/mdi_office-building-cog-outline.png" alt="" />
        </div>
        <div class="contenido">
          <h2>
            Nuestras oficinas en<br />
            Barcelona
          </h2>
          <p>Acércate y cuéntanos tu caso</p>
          <button>VER EN GOOGLE MAPS</button>
        </div>
      </div>
      <div class="reproductor-video localizacion">
        <img src="../assets/img/Photo-6.png" class="icon-office" alt="Photo" />
        <div class="content">
          <button class="play"><i class="fas fa-map-marker-alt"></i></button>
          <div class="reproduciendo">
            <p class="text-maps">
              Local 3, Av. de Francesc Macià<br />
              17, 08840 Viladecans, Barcelona
            </p>
          </div>
        </div>
        <img class="estadisticas map" src="..//assets/img/Map.png" alt="map" />
      </div>
    </div>
  </section>
  <section class="section-5 d-flex align-items-center">
    <div class="contenido">
      <h2>Hipotecas</h2>
      <p>
        Cubrimos varios tipos de hipotecas para que se adapten a las necesidades
        de nuestros clientes
      </p>
    </div>
    <div class="cont d-flex justify-content-center">
      <div id="carouselExampleControls" class="carousel slide d-flex" data-ride="carousel">
        <div class="carousel-inner container bg">
          <div class="carousel-item active">
            <div class="contenedor-recomendados d-flex justify-content-center">
              <div class="recomendados-1">
                <img src="..//assets/img/Photo 3.png" alt="Photo-3" width="360px" />
                <h2>HIPOTECA FIJA 1,20%</h2>
                <p>
                  Si tienes ingresos superiores a 3.000€<br />
                  esta es tu hipoteca.
                </p>
                <button>Me intereza</button>
              </div>
              <div class="recomendados-2">
                <img src="..//assets/img/Photo 4.png" alt="Photo-3" width="360px" />
                <h2>HIPOTECA 100%</h2>
                <p>
                  El mayor porcentaje de financiación y <br />
                  con las mejores condiciones del <br />
                  mercado.
                </p>
                <button>Me intereza</button>
              </div>
              <div class="recomendados-3">
                <img src="..//assets/img/Photo 5.png" alt="Photo-3" width="360px" />
                <h2>HIPOTECA FUNCIONARIOS</h2>
                <p>
                  Si tienes ingresos superiores a 3.000<br />
                  esta es tu hipoteca.
                </p>
                <button>Me intereza</button>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="contenedor-recomendados d-flex justify-content-center">
              <div class="recomendados-1">
                <img src="..//assets/img/Photo 3.png" alt="Photo-3" width="360px" />
                <h2>HIPOTECA FIJA 1,20%</h2>
                <p>
                  Si tienes ingresos superiores a 3.000€<br />
                  esta es tu hipoteca.
                </p>
                <button>Me intereza</button>
              </div>
              <div class="recomendados-2">
                <img src="..//assets/img/Photo 4.png" alt="Photo-3" width="360px" />
                <h2>HIPOTECA 100%</h2>
                <p>
                  El mayor porcentaje de financiación y <br />
                  con las mejores condiciones del <br />
                  mercado.
                </p>
                <button>Me intereza</button>
              </div>
              <div class="recomendados-3">
                <img src="..//assets/img/Photo 5.png" alt="Photo-3" width="360px" />
                <h2>HIPOTECA FUNCIONARIOS</h2>
                <p>
                  Si tienes ingresos superiores a 3.000<br />
                  esta es tu hipoteca.
                </p>
                <button>Me intereza</button>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="contenedor-recomendados d-flex justify-content-center">
              <div class="recomendados-1">
                <img src="..//assets/img/Photo 3.png" alt="Photo-3" width="360px" />
                <h2>HIPOTECA FIJA 1,20%</h2>
                <p>
                  Si tienes ingresos superiores a 3.000€<br />
                  esta es tu hipoteca.
                </p>
                <button>Me intereza</button>
              </div>
              <div class="recomendados-2">
                <img src="..//assets/img/Photo 4.png" alt="Photo-3" width="360px" />
                <h2>HIPOTECA 100%</h2>
                <p>
                  El mayor porcentaje de financiación y <br />
                  con las mejores condiciones del <br />
                  mercado.
                </p>
                <button>Me intereza</button>
              </div>
              <div class="recomendados-3">
                <img src="..//assets/img/Photo 5.png" alt="Photo-3" width="360px" />
                <h2>HIPOTECA FUNCIONARIOS</h2>
                <p>
                  Si tienes ingresos superiores a 3.000<br />
                  esta es tu hipoteca.
                </p>
                <button>Me intereza</button>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span aria-hidden="true" class="btn-left"><i class="fas fa-chevron-left"></i></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span aria-hidden="true" class="btn-next"><i class="fas fa-chevron-right"></i></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </section>
  <section class="section-6 container"></section>
  <section class="section-7">
    <div class="contenido d-flex justify-content-center">
      <h2>Nuestro clientes dicen...</h2>
    </div>
    <div class="cont d-flex justify-content-center">
      <div id="carousel" class="carousel slide d-flex" data-ride="carousel">
        <div class="carousel-inner container bg">
          <div class="carousel-item active">
            <div class="contenedor-recomendados d-flex justify-content-center">
              <div class="clientes one">
                <div class="contenido-1">
                  <h2>Equipo muy Profesional<i class="fas fa-check"></i></h2>
                  <p>
                    “Equipo muy profesional desde el primer momento. Siempre
                    dispuestos a buscar la mejor solución y brindar todo el
                    apoyo necesario. Laura, Jessica, Rosar y Sergio forman un
                    equipo magnífico. Sin dudas una gran elección a la hora de
                    afrontar un tema tan complicado como la compra de una
                    vivienda.”
                  </p>
                </div>
                <div class="reputacion">
                  <img src="..//assets/img/persona-1.png" alt="Perfil" />
                  <div class="nombre-reputacion">
                    <h3>Maria Esperanza</h3>
                    <div class="estrellas">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="clientes two">
                <div class="contenido-1">
                  <h2>Equipo muy Profesional<i class="fas fa-check"></i></h2>
                  <p>
                    “Equipo muy profesional desde el primer momento. Siempre
                    dispuestos a buscar la mejor solución y brindar todo el
                    apoyo necesario. Laura, Jessica, Rosar y Sergio forman un
                    equipo magnífico. Sin dudas una gran elección a la hora de
                    afrontar un tema tan complicado como la compra de una
                    vivienda.”
                  </p>
                </div>
                <div class="reputacion">
                  <img src="..//assets/img/persona-2.png" alt="Perfil" />
                  <div class="nombre-reputacion">
                    <h3>Nick Drake</h3>
                    <div class="estrellas">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="clientes three">
                <div class="contenido-1">
                  <h2>Equipo muy Profesional<i class="fas fa-check"></i></h2>
                  <p>
                    “Equipo muy profesional desde el primer momento. Siempre
                    dispuestos a buscar la mejor solución y brindar todo el
                    apoyo necesario. Laura, Jessica, Rosar y Sergio forman un
                    equipo magnífico. Sin dudas una gran elección a la hora de
                    afrontar un tema tan complicado como la compra de una
                    vivienda.”
                  </p>
                </div>
                <div class="reputacion">
                  <img src="..//assets/img/persona-3.png" alt="Perfil" />
                  <div class="nombre-reputacion">
                    <h3>Sofia Martinez</h3>
                    <div class="estrellas">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="contenedor-recomendados d-flex justify-content-center">
              <div class="clientes one">
                <div class="contenido-1">
                  <h2>Equipo muy Profesional<i class="fas fa-check"></i></h2>
                  <p>
                    “Equipo muy profesional desde el primer momento. Siempre
                    dispuestos a buscar la mejor solución y brindar todo el
                    apoyo necesario. Laura, Jessica, Rosar y Sergio forman un
                    equipo magnífico. Sin dudas una gran elección a la hora de
                    afrontar un tema tan complicado como la compra de una
                    vivienda.”
                  </p>
                </div>
                <div class="reputacion">
                  <img src="..//assets/img/persona-1.png" alt="Perfil" />
                  <div class="nombre-reputacion">
                    <h3>Maria Esperanza</h3>
                    <div class="estrellas">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="clientes two">
                <div class="contenido-1">
                  <h2>Equipo muy Profesional<i class="fas fa-check"></i></h2>
                  <p>
                    “Equipo muy profesional desde el primer momento. Siempre
                    dispuestos a buscar la mejor solución y brindar todo el
                    apoyo necesario. Laura, Jessica, Rosar y Sergio forman un
                    equipo magnífico. Sin dudas una gran elección a la hora de
                    afrontar un tema tan complicado como la compra de una
                    vivienda.”
                  </p>
                </div>
                <div class="reputacion">
                  <img src="..//assets/img/persona-2.png" alt="Perfil" />
                  <div class="nombre-reputacion">
                    <h3>Nick Drake</h3>
                    <div class="estrellas">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="clientes three">
                <div class="contenido-1">
                  <h2>Equipo muy Profesional<i class="fas fa-check"></i></h2>
                  <p>
                    “Equipo muy profesional desde el primer momento. Siempre
                    dispuestos a buscar la mejor solución y brindar todo el
                    apoyo necesario. Laura, Jessica, Rosar y Sergio forman un
                    equipo magnífico. Sin dudas una gran elección a la hora de
                    afrontar un tema tan complicado como la compra de una
                    vivienda.”
                  </p>
                </div>
                <div class="reputacion">
                  <img src="..//assets/img/persona-3.png" alt="Perfil" />
                  <div class="nombre-reputacion">
                    <h3>Sofia Martinez</h3>
                    <div class="estrellas">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="contenedor-recomendados d-flex justify-content-center">
              <div class="clientes one">
                <div class="contenido-1">
                  <h2>Equipo muy Profesional<i class="fas fa-check"></i></h2>
                  <p>
                    “Equipo muy profesional desde el primer momento. Siempre
                    dispuestos a buscar la mejor solución y brindar todo el
                    apoyo necesario. Laura, Jessica, Rosar y Sergio forman un
                    equipo magnífico. Sin dudas una gran elección a la hora de
                    afrontar un tema tan complicado como la compra de una
                    vivienda.”
                  </p>
                </div>
                <div class="reputacion two">
                  <img src="..//assets/img/persona-1.png" alt="Perfil" />
                  <div class="nombre-reputacion">
                    <h3>Maria Esperanza</h3>
                    <div class="estrellas">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="clientes three">
                <div class="contenido-1">
                  <h2>Equipo muy Profesional<i class="fas fa-check"></i></h2>
                  <p>
                    “Equipo muy profesional desde el primer momento. Siempre
                    dispuestos a buscar la mejor solución y brindar todo el
                    apoyo necesario. Laura, Jessica, Rosar y Sergio forman un
                    equipo magnífico. Sin dudas una gran elección a la hora de
                    afrontar un tema tan complicado como la compra de una
                    vivienda.”
                  </p>
                </div>
                <div class="reputacion">
                  <img src="..//assets/img/persona-2.png" alt="Perfil" />
                  <div class="nombre-reputacion">
                    <h3>Nick Drake</h3>
                    <div class="estrellas">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="clientes">
                <div class="contenido-1">
                  <h2>Equipo muy Profesional<i class="fas fa-check"></i></h2>
                  <p>
                    “Equipo muy profesional desde el primer momento. Siempre
                    dispuestos a buscar la mejor solución y brindar todo el
                    apoyo necesario. Laura, Jessica, Rosar y Sergio forman un
                    equipo magnífico. Sin dudas una gran elección a la hora de
                    afrontar un tema tan complicado como la compra de una
                    vivienda.”
                  </p>
                </div>
                <div class="reputacion">
                  <img src="..//assets/img/persona-3.png" alt="Perfil" />
                  <div class="nombre-reputacion">
                    <h3>Sofia Martinez</h3>
                    <div class="estrellas">
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
          <span aria-hidden="true" class="btn-left"><i class="fas fa-chevron-left"></i></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
          <span aria-hidden="true" class="btn-next"><i class="fas fa-chevron-right"></i></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </section>
  <section class="section-8"></section>
</main>
<app-footer></app-footer>
